@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>projet04</title>
    <link rel="stylesheet" type="text/css" href="site.css">

</head>
<body>
    <div class="container-main">
        <div class="sub-container">
            <form>
                <label><h1>Registration Form</h1></label>
                <label><p>First</p></label>
                <input type="text" name="firstname" placeholder="Name">
                <label><p>Last</p></label>
                <input type="text" name="lastname" placeholder="Name">
                <input type="text" name="username" placeholder="username">
                <input type="email" name="email" placeholder="Email">
                <input type="phone" name="phonenumber" placeholder="phonenumber">
                <input type="password" name="password" placeholder="password">
                <button>Register</button>
            </form>

            <!--  	<div class="img-container">
                   <img src="E:\project04\img\background.png">
               </div>  -->
        </div>
    </div>

</body>
</html>
